<div class="container">
  <div class="row">
    <div class="background-animation">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <mat-card class="card">
      <mat-card-content>
        <mat-card-header>
          <mat-card-title>Criar Post</mat-card-title>
        </mat-card-header>
        <form [formGroup]="postForm">
          <mat-form-field class="form" appearance="outline" class="input-group">
            <mat-label for="Nome">Titulo</mat-label>
            <input matInput formControlName="titulo" />
          </mat-form-field>

          <mat-form-field class="form" appearance="outline" class="input-group">
            <mat-label>Texto</mat-label>
            <textarea matInput formControlName="texto" type="texto"></textarea>
          </mat-form-field>

          <mat-card-actions>
            <button mat-flat-button (click)="goToposts()">Voltar</button>
            <div class="spacer"></div>
            <button
              mat-flat-button
              color="primary"
              type="submit"
              (click)="createPost()"
            >
              Cadastrar
            </button>
          </mat-card-actions>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
