.card {
  max-width: 800px;
  top: 10vh;
  margin: auto;
  padding: 10px;
  word-wrap: break-word;
  box-shadow: 5px 5px 10px #888888;
}

mat-card-title {
  font-size: 30px;
  margin-bottom: 35px;
}


mat-divider {
  border-color: rgb(228, 228, 228);

}

mat-card-subtitle {
  margin-top: 5px;
  color: gray;
}

mat-card-content {
  padding-bottom: 50px;
}

// mat-card-content {
//   max-height: 15em;
//   overflow: hidden;
//   text-overflow: ellipsis
// }