<mat-card class="container">
  <mat-card-content class="row">
    <div class="background-animation">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <mat-card-header>
      <mat-card-title >Cadastrar</mat-card-title>
    </mat-card-header>
    <form [formGroup]="userForm">
      <mat-form-field class="input-group" appearance="outline">
        <mat-label for="Nome">Nome</mat-label>
        <input matInput formControlName="name" placeholder="Digite seu nome" />
      </mat-form-field>

      <mat-form-field class="input-group" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          matInput
          formControlName="username"
          placeholder="Digite seu email"
          type="email"
        />
      </mat-form-field>

      <mat-form-field class="input-group" appearance="outline">
        <mat-label>Senha</mat-label>
        <input
          matInput
          formControlName="password"
          placeholder="Digite sua senha"
          type="password"
        />
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button (click)="goToLogin()">Voltar</button>
        <div class="spacer"></div>
        <button
          mat-flat-button
          color="primary"
          type="submit"
          (click)="createPost()"
        >
          Cadastrar
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
