<div class="container">
  <div class="row">
    <mat-card class="card">
      <mat-card-content>
        <h1>Total de Postagens</h1> 
        <h3>{{ totalPosts }}</h3>
      </mat-card-content>
    </mat-card>
    
    
    <mat-card class="table-card">
      <mat-card-content>
        <table mat-table [dataSource]="postCountData" class="mat-elevation-z8 demo-table">
          <!-- ID do Usuário -->
           
          <ng-container matColumnDef="id" >
            <th mat-header-cell *matHeaderCellDef class="card-id"> ID do Usuário </th>
            <td mat-cell *matCellDef="let item" class="card-id"> {{ item[0] }} </td>
          </ng-container>
    
          <!-- Contagem de Posts -->
          <ng-container matColumnDef="count" class="card-name">
            <th mat-header-cell *matHeaderCellDef class="card-id"> Nome do Usuário </th>
            <td mat-cell *matCellDef="let item" class="card-id"> {{ item[1] }} </td>
          </ng-container>
    
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Email do Usuário</th>
            <td mat-cell *matCellDef="let item"> {{ item[2] }} </td>
          </ng-container>
    
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef> Contagem de Posts </th>
            <td mat-cell *matCellDef="let item"> {{ item[3] }} </td>
          </ng-container>
    
          <!-- Cabeçalho e Linhas -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </mat-card-content>
    </mat-card>
  </div>
  </div>
  



