.body {
  min-height: 88vh;
  background: #000000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(73, 72, 71) 93%);
  width: 100%;
  padding: 30px;
}

.card {
  max-width: 300px;
  height: 150px;
  margin: 50px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

mat-card-content h3 {
  align-items: center;
  text-align: center;
}

table {
  width: 100%;
}

.table-card {
  max-width: 900px;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

table {
  word-wrap: break-word;
  width: 100%;
}

mat-card-content {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

mat-card-content h1 {
  font-size: 25px;
  text-align: center;
}

mat-card-content h3 {
  font-size: 50px;
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
}

.container-superior {
  width: 30%;
}

.container-2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-esquerdo {
  width: 40%;
}

.container-direito {
  width: 50%;
  // margin-right: 50px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .body {
    display: flex;
    flex-direction: column;
  }

  .card {
    width: 100%;
  }

  .container-2 {
    display: flex;
    flex-direction: column;
  }

  .container-direito,
  .container-esquerdo {
    width: 80%;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    margin: auto;
  }
}

@media (max-width: 600px) {
  .container-direito {
    display: none;
  }

  .card {
    width: 200px;
    margin: auto;
  }

  .card-id {
    display: none;
  }

  .container-esquerdo {
    width: 320px;
  }
}
