.card {
    max-width: 300px;
    height: 200px;
    margin: 50px;
}

.card-2 {
    margin: 50px;
}

table {
    width: 100%;
}

.table-card {
    max-width: 900px;
    margin: auto;
    
}

table {
    word-wrap: break-word;
    width: 100%;
}

mat-card-content h1{

    font-size: 25px;
    text-align: center;
}

mat-card-content h3{

    font-size: 50px;
    text-align: center;
}

.container {
    display: flex;
    
}