.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 70px;
}

mat-card {
    margin-top: 20px;
    padding: 20px;
    max-width: 800px;
    word-wrap: break-word;
    
}

mat-card-content {
    max-height: 15em;
    overflow: hidden;
    text-overflow: ellipsis
  }
  



