mat-toolbar {
    background-color: rgb(12, 12, 87);
    color: white;
    max-height: 100px;
}

mat-toolbar a {
    color: white;
    text-decoration: none;
}

.menu {
    margin-left: 60px;
}

.spacer {
    flex: 1 1 auto;
}