<div class="container">
  <div class="row">
    <div class="background-animation">
      <div class="circle"></div>
      <div class="circle"></div>
      <div class="circle"></div>
    </div>
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-form-field appearance="outline" class="input-group">
        <mat-label for="usuario">Usuário</mat-label>
        <input matInput type="text" id="usuario" [(ngModel)]="login.username" />
        <span class="focus-border"></span>
      </mat-form-field>
      <mat-form-field appearance="outline" class="input-group">
        <mat-label for="senha">Senha</mat-label>
        <input
          matInput
          type="password"
          id="senha"
          [(ngModel)]="login.password"
        />
        <span class="focus-border"></span>
      </mat-form-field>

      <mat-card-actions>
        <button mat-flat-button color="primary" (click)="logar()">
          Acessar
        </button>
        <div class="spacer"></div>
        <button mat-flat-button routerLink="/register">Registre-se</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<!-- </div> -->
