<div class="container">
  <div class="row">
  </div>
  <mat-card class="card">
    <mat-card-content>
      <mat-card-header>
        <h1>Editar Post</h1>
      </mat-card-header>
      <form [formGroup]="postForm" (ngSubmit)="updatePost()">
        <mat-form-field class="form" appearance="outline">
          <mat-label>Titule</mat-label>
          <input matInput formControlName="titulo" />
          <mat-error *ngIf="postForm.get('titulo')?.invalid"
            >Title is required</mat-error
          >
        </mat-form-field>
  
        <mat-form-field class="form" appearance="outline">
          <mat-label>Texto</mat-label>
          <textarea matInput rows="10" formControlName="texto"></textarea>
          <mat-error *ngIf="postForm.get('texto')?.invalid"
            >Text is required</mat-error
          >
        </mat-form-field>
  
        <div class="button-group">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="postForm.invalid"
          >
            Salvar
          </button>
          <button mat-button color="warn" (click)="goToposts()">Voltar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  
  </div>
